<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8"/>
        <title>Recipes Project</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
       <h2 th:text="${recipeTitle}">Título da receita</h2>
       <h2>Receita: <span th:text="${recipeTitle}">receita</span></h2>
        
        <h5>Tempo de preparação (min):</h5>
        <p th="Tempo de preparação (min): ${recipePrepTime}">1234</p>
        
        


        <h1 style="color:Red">Lista de Categorias</h1>
        <br>
        <table class="table table-striped">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Department Name</th>
                <th scope="col">Description</th>     
            </tr>
            <tr th:each="category : ${categories}">
                <td th:text="${category.idCategory}">123</td>
                <td th:text="${category.departmentName}">Spring in Action</td>
                <td th:text="${category.description}">24154351531</td>
            </tr>
        </table>
        
        <h1 style="color:Red">Lista de Unity of Measure</h1>
        <br>
        <table class="table table-striped">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Unity</th>
                <th scope="col">Description</th>     
            </tr>
            <br>
            
            <tr th:each="uom : ${uoms}">
                <td th:text="${uom.idUom}">123</td>
                <td th:text="${uom.uom}">Spring in Action</td>
                <td th:text="${uom.description}">24154351531</td>
            </tr>
        </table>


    </body>
</html>
